@import url('https://use.typekit.net/kzz6pxh.css');

body {
    margin:0;
}

main {
    position: relative;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.emma {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.logomain {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 35px;
    display: block;
}

.cta {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 20%;
    font-size: 40px;
    font-family: 'franklin-gothic', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    color: #202020;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}