body {
    margin:0;
}

main {
    position: relative;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.emma {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.logomain {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 35px;
    display: block;
}

.cta {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 20%;
    font-size: 40px;
    font-family: 'ITC Franklin Gothic LT Pro';
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    color: #202020;
    padding: 24px 12px 12px 16px;
    line-height: 2rem;
    cursor: pointer;
}