.dateFilter, .nameFilter, .brandFilter {
    font-family: 'franklin-gothic', sans-serif;
    font-weight: 450;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    align-items: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 15px;
    cursor: pointer;
}


.fltrContainer {
    background-color: rgba(0, 0, 0, 1);
    width: 496px;
    height: 36px;
    border-radius: 10px;
    top: 45px;
    left: 10px;
    direction: ltr;
    writing-mode: horizontal-tb;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 10px;
    row-gap: 10px;
    justify-content: space-around;
    padding: 8px 16px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 1.5px solid rgba(0, 0, 0, 1);
    font-family: 'franklin-gothic', sans-serif;
}

.dropdownOption {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1.5px solid rgba(0, 0, 0, 1);
    text-align: center;
}

.dropdownOption:hover {
    background-color: #f0f0f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.bckBttn {
    top: 30px;
    left: 22px;
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 80px;
}

.eventOptions {
    font-family: 'franklin-gothic', sans-serif;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
    width: 482px;
    position: relative;
    margin-left: 17px;
    top: 70px;
    margin-bottom: 10px;
}

.eventOptionsLine {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    height: 113.19px;
}

.eventOptionsLine :last-child {
    border-bottom: none;
}

.eventOptionsLine:hover {
    cursor: pointer;
}


.optionBoxDT {
    font-weight: 670;
    margin-right: 15px;
    min-width: 100px;
    color: #202020;
    font-size: 23px;
    line-height: normal;
    text-align: center;
    letter-spacing: 10%;
    margin-top: 2.5px;
    display: inline-block;
    min-width: 130px;
    margin-right: 10px;
}

.optionBoxName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: rgba(32, 32, 32, 1)0;
    text-align: center;
    margin-left: 0px;
    font-weight:bolder;
    font-size: 33px;
    line-height: 100%;
    letter-spacing: 5%;
    vertical-align: center;
    display: inline-block;
}
