.runwayDetailSection {
  flex-direction: column;
  gap: 20px;
  width: 780px;
  height: auto;
  box-sizing: border-box;
  font-family: 'ITC Franclin Gothic LT Pro', sans-serif;
  color: #202020;
  line-height: 1.6;
  padding: 20px;
  top: 0px;
  margin: 10px auto 0;
}

/* Header and text section */
.title-section {
  display:contents;
  align-items: normal;
  gap: 24px;
  position: relative;
  font-size: 40px;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  text-align: left;
}

.title-section h1 {
  font-size: 64px;
  margin: 0 0 10px 0;
  text-align: left;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  font-weight: 600;
}

.qrcode {
  flex-shrink: 0;
  margin-left: 20px;
  margin-top: 40px;
  text-align: center;
}

.qrcode-img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.qrcode-txt {
  margin-top: 0%;
  font-size: 12px;
  text-align: center;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  font-weight: 550;
}


.infoAndQr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


.text-section {
  flex: 1;
  padding-right: 20px;
  font-size: 16px;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

.address {
  font-weight: 700;
  margin-top: 20px;
  font-size: 22px;
}

.map-section {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.map-section img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}