.runwayDetailSection {
  flex-direction: column;
  gap: 20px;
  width: 780px;
  height: auto;
  box-sizing: border-box;
  font-family: 'ITC Franclin Gothic LT Pro', sans-serif;
  color: #202020;
  line-height: 1.6;
  padding: 20px;
  top: -700px;
  margin: 10px auto 0;
  position: relative;
  right: -0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Header and text section */
.title-section {
  display:contents;
  align-items: normal;
  gap: 24px;
  position: relative;
  font-size: 40px;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  text-align: left;
}

.title-section h1 {
  font-size: 64px;
  margin: 0 0 10px 0;
  text-align: left;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  font-weight: 600;
}

.qrcode {
  flex-shrink: 0;
  margin-left: 20px;
  margin-top: 40px;
  text-align: center;
}

.qrcode-img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.qrcode-txt {
  margin-top: 0%;
  font-size: 12px;
  text-align: center;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  font-weight: 550;
}


.infoAndQr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


.text-section {
  flex: 1;
  padding-right: 20px;
  font-size: 16px;
  font-family: 'ITC Franklin Gothic LT Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

.address {
  font-weight: 700;
  margin-top: 20px;
  font-size: 22px;
}

.map-section {
  width: 100%;
  max-width: 740px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  overflow: hidden;
}

/* QR code */
.qr-section {
  display: flex;
  justify-content: flex-end;
}

.qr-section img {
  width: clamp(70px, 12vw, 120px);
  height: clamp(70px, 12vw, 120px);
  margin-top:20px;
}

/* Responsive layout */
@media (min-width: 768px) {
  .container {
    position: relative;
  }

  .qr-section {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
}

.mp4RunwayVideo {
  flex-shrink: 0;
  position: relative;
  top: -820px;
  left: 840px;
}

.mp4RunwayVideo video {
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 780px;
  object-fit: cover;;
  padding: 10px;
}